body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.requestForm {
    text-align: center;
    padding: 20px;
    background-color: #ababab;
    color: white;
}

.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
    margin: 5px 0;
}

.subtitle {
    font-size: 14px;
    margin: 0;
}

.table-main {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
}

.dateIssuedInput,
.statusSelect {
    font-size: 14px;
}

.statusSelect {
    width: 350px;
}

#documentRequestsTable th,
#documentRequestsTable td {
    padding: 8px;
    text-align: left;
}

#documentRequestsTable th {
    background-color: #fafafa;
}

.container {
    max-width: 100%;
    margin-top: 20px;
}

.table th,
.table td {
    font-size: 14px;
    text-align: center;
    color: inherit;
}

.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 10px;
    border-spacing: 0;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table th:nth-child(14),
.table td:nth-child(14) {
    width: auto;
}

.input-group {
    width: 100%;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ababab;
    color: rgb(0, 0, 0);
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

form input[type="submit"] {
    background-color: #a5a5a5;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #004976;
}

h1 {
    text-align: center;
}

.dropdown-toggle.status-dropdown {
    width: 150px !important;
}

.dropdown-menu.dropdown-menu-end {
    min-width: 150px;
}

.user-select {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.remarks {
    max-width: 300px;
    min-height: 50px;
    max-height: 150px;
    overflow-y: auto;
    resize: vertical;
}

.table-cell {
    text-align: center;
}

.dropdown-menu-item {
    font-size: 14px;
}

.edit-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.edit-btn:hover {
    background-color: darkblue;
    cursor: pointer;
}

.pending-color {
    color: rgb(0, 0, 0);
    background-color: #C7C8CC;
}

.processing-color {
    color: rgb(0, 0, 0);
    background-color: #FFC94A;
}

.for-release-color {
    color: rgb(0, 0, 0);
    background-color: #5BBCFF;
}

.received-color {
    color: rgb(0, 0, 0);
    background-color: #87A922;
}
